version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python3 -m unittest discover -s tests
